<div id="accordian" class="accordian">
    <ul>
        <li class="active">
            <h3 class="first-h3"><a href="#">Hesabat</a></h3>
            <ul>
                <li class="active-link"><a href="#">Fəaliyyət üzrə İllik Hesabat</a></li>
                <li><a href="#">Maliyyə Hesabatı</a></li>
                <li><a href="#">Nəzarət funksiyasinin hesabatı / nəticələri</a></li>
            </ul>
        </li>

        <li>
            <h3><a href="#">Təhlil</a></h3>
            <ul>
                <li><a href="#">Strateji təhlil məhsulları</a></li>
                <li><a href="#">Milli Risk Qiymətləndirilməsi</a></li>
            </ul>
        </li>

        <li>
            <h3><a href="#"></span>Statistika </a></h3>
        </li>

        <li>
            <h3><a href="#">Metodologiya </a></h3>
            <ul>
                <li><a href="#">Metodoloji sənədlər </a></li>
                <li><a href="#">Nəşrlər</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </li>

        <li>
            <h3><a href="#">Beynəlxalq standartlar </a></h3>
            <ul>
                <li><a href="#">FATF</a></li>
                <li><a href="#">Bazel</a></li>
                <li><a href="#">Volfsberq</a></li>
                <li><a href="#">Eqmont</a></li>
            </ul>
        </li>

        <li>
            <h3><a href="#">Fəaliyyət planları </a></h3>
            <ul>
                <li><a href="#">Milli Fəaliyyət Planı</a></li>
                <li><a href="#">Strateji Planlar</a></li>
                <li><a href="#">Taktiki planlar</a></li>
                <li><a href="#">Digər</a></li>
            </ul>
        </li>
    </ul>
</div>