<nav id="main-navigation" class="main-navigation__container">
    <div class="main-navigation__title"> Faydalı keçidlər</div>
    <ul id="menu-main-menu" class="main-navigation sidebar-navigation">

        <li class="menu-item menu-item-has-children"><a href="#">Qanunvericilik</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="">Qanunlar</a></li>
                <li class="menu-item"><a href="">Fərmanlar və sərəncamlar</a></li>
                <li class="menu-item"><a href="">Qərarlar</a></li>
                <li class="menu-item"><a href="">Beynəlxalq sənədlər</a></li>
                <li class="menu-item"><a href="">Normativ xarakterli aktlar</a></li>
                <li class="menu-item"><a href="">Layihələr</a></li>
                <li class="menu-item"><a href="">Dövlət sirri təşkil edən məlumatların siyahısı</a></li>
            </ul>
        </li>










        <li class="menu-item menu-item-has-children current-menu-item current_page_item"><a
                href="services.html">Təlimlər</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="services.html">Təlim strategiyası</a></li>
                <li class="menu-item"><a href="couples-therapy.html">2019</a></li>
                <li class="menu-item"><a href="depression-treatment.html">2016</a></li>
                <li class="menu-item"><a href="individual-treatment.html">2015</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="about.html">Tədbirlər</a></li>
        <li class="menu-item"><a href="blog.html">Standartlar</a></li>

        <li class="menu-item menu-item-has-children"><a href="#">Əməkdaşlıq</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="index-top-menu.html">Beynəlxalq əməkdaşlıq</a></li>
                <li class="menu-item"><a href="index-slider.html">Ölkədaxili əməkdaşlıq</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-has-children"><a href="#">Monitorinq</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="index-top-menu.html">Monitorinq iç</a></li>
                <li class="menu-item"><a href="index-slider.html">Ölkədaxili əməkdaşlıq</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-has-children"><a href="#">Fəaliyyət planları</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="index-top-menu.html">Strateji plan</a></li>
                <li class="menu-item"><a href="index-slider.html">Taktiki plan</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item-has-children"><a href="#">Hesabat və nəşr</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="index-top-menu.html">Məlumat bülleteni</a></li>
                <li class="menu-item"><a href="index-slider.html">Məqalələr</a></li>
            </ul>
        </li>
    </ul>
</nav>