{% extends 'registry/layout.twig' %}

{% block addition %}
<div class="ht-pageheader">
    <div class="ht-container">
        {% include 'registry/blocks/breadcrumb.block.twig'%}
        {% include 'registry/blocks/minisearch.block.twig'%}
    </div>
</div>

{% endblock %}

{% block content %}
<div class="ht-page ht-page--sidebarleft">
    <div class="ht-container">


        <aside class="sidebar sidebar--sticky">
            <section id="ht-kb-toc-widget-3" class="widget hkb_widget_toc">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Zelimkhan_Yandarbiyev_in_2000.jpg/264px-Zelimkhan_Yandarbiyev_in_2000.jpg">
            </section>
        </aside>



        <div class="ht-page__content">
            <article class="hkb-article">
                <meta content="July 16, 2018">

                <header class="hkb-article__header">
                    <h1 class="hkb-article__title">ZELIMKHAN AHMEDOVICH YANDARBIEV</h1>
                </header>

                <div class="hkb-article__content">


                    <div class="hts-messages hts-messages--info   hts-messages--withicon ">
                        <p><strong>Başqa adları:</strong> a) Hussin Mohamed Dli Tamimi b) Abdul-Muslimovich</p>

                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <td class="table-headers">Orijinal adı:</td>
                                <td>Яндарбиев Зелимхан Ахмедович (Абдулмуслинович)</td>
                            </tr>
                            <tr>
                                <td class="table-headers">Doğum tarixi:</td>
                                <td>12 Sentyabr 1952</td>
                            </tr>
                            <tr>
                                <td class="table-headers">Doğum yeri:</td>
                                <td>Vydrikha Village, Shemonaikhinskiy (former Verkhubinskiy) District, Eastern
                                    Kazakhstan Region, Soviet Socialist Republic of Kazakhstan, USSR</td>
                            </tr>
                            <tr>
                                <td class="table-headers">Milliyəti:</td>
                                <td>Russian</td>
                            </tr>
                            <tr>
                                <td class="table-headers">Sənədləri:</td>
                                <td>
                                    <ul>
                                        <li>Russian passport 43 No. 1600453 </li>
                                        <li>Russian Foreign passport number 535884942</li>
                                        <li>Russian Foreign passport number 35388849</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-headers">Ünvanı:</td>
                                <td>Derzhavina Street Number 281, apartment 59, Grozny City, Chechen Republic, Russian
                                    Federation</td>
                            </tr>

                            <tr>
                                <td class="table-headers">Qruplaşma:</td>
                                <td>Al-Qaida</td>
                            </tr>

                            <tr>
                                <td class="table-headers">Siyahıya əlavə edilib:</td>
                                <td>25 Jun. 2003 (amended on 25 Jul. 2006)</td>
                            </tr>
                            <tr>
                                <td class="table-headers">Digər məlumat:</td>
                                <td>Qətlə yetirilib Doha, Qatar on 13 Feb. 2004</td>
                            </tr>
                        </tbody>
                    </table>


                    <table>
                        <thead>
                            <tr>
                                <td colspan="3">
                                    <strong>SƏNƏDLƏR</strong>
                                </td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Birləşmiş millətlər təşkilatı</td>
                                <td> № SC/10098</td>
                                <td><img src="https://fimsa.az/front/assets/css/pdf2.png" style="width:25px"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </article>
        </div>
    </div>
</div>
{% endblock %}