{% extends 'registry/layout.twig' %}

{% block content %}
<div class="ht-page">
    <div class="ht-container">
        <div class="home-page-boxes">
            {% include 'registry/blocks/info.block.twig'%}
        </div>
    </div>
</div>
{% endblock %}