{% extends 'registry/layout.twig' %}

{% block addition %}
<div class="ht-pageheader">
    <div class="ht-container">
        {% include 'registry/blocks/breadcrumb.block.twig'%}
        {% include 'registry/blocks/minisearch.block.twig'%}
    </div>
</div>

{% endblock %}

{% block content %}
<div class="ht-page ht-page--sidebarleft">
    <div class="ht-container">

        <!-- .sidebar -->
        <aside class="sidebar sidebar--sticky" itemscope="" itemtype="https://schema.org/WPSideBar">
            <section id="ht-kb-toc-widget-3" class="widget_document hkb_widget_toc">
                <nav id="navtoc" role="navigation">
                    <ol class="nav">
                        <!-- adding li -->
                        <li class="active">
                            <a href="#dc999vc999tnamc999-kagizi">Təlimat keçid 1</a><!-- adding li -->
                        </li>
                        <li class="">
                            <a href="#dc999vc999tnamc999-kodu">Təlimat keçid 2</a><!-- adding li -->
                        </li>
                        <li class="">
                            <a href="#giris-mc999lumatlari">Təlimat keçid 3</a><!-- adding li -->
                        </li>
                        <li class="">
                            <a href="#yoxlama-kodu">Təlimat keçid 4</a><!-- adding li -->
                        </li>
                        <li class="">
                            <a href="#ugurlu-qeydiyyat">Təlimat keçid 5</a></li>
                    </ol><!-- /ht-kb-toc-widget -->
                </nav>

            </section>
        </aside>
        <!-- /.sidebar -->


        <div class="ht-page__content">
            <article class="hkb-article" itemscope="" itemtype="https://schema.org/CreativeWork">
                <meta itemprop="datePublished" content="July 16, 2018">

                <header class="hkb-article__header">
                    <h1 class="hkb-article__title" itemprop="headline">İstifadəçi Təlimatı</h1>
                </header>


                <div class="hkb-article__content" itemprop="text">

                    <h3 id="dc999vc999tnamc999-kagizi">Təlimat keçid 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium sapien sed libero iaculis, a faucibus turpis eleifend. Nulla scelerisque neque in massa blandit, vel venenatis odio malesuada. Maecenas aliquam augue eu imperdiet porttitor. Nulla cursus venenatis ipsum, lobortis interdum nisl facilisis ac. Praesent at dolor sollicitudin, interdum eros sed, luctus lorem. Ut euismod vestibulum finibus. Cras sagittis sit amet sem a tincidunt. Maecenas at metus tortor. Quisque tincidunt tristique purus, nec blandit arcu pulvinar vel.</p>

                    <h3 id="dc999vc999tnamc999-kagizi">Təlimat keçid 2</h3>
                    <p>Fusce ultricies ut purus non aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor enim nec magna efficitur tempus. Donec bibendum vehicula libero vitae sollicitudin. Sed porttitor purus at fringilla feugiat. Proin varius dolor viverra, vulputate lacus nec, tempus diam. Praesent hendrerit pulvinar tortor, eget dignissim nunc pharetra id. Etiam feugiat orci nec turpis placerat pharetra.</p>
                    
                    <h3 id="dc999vc999tnamc999-kagizi">Təlimat keçid 3</h3>
                    <p>Duis et leo at sapien auctor imperdiet. Pellentesque malesuada, urna id pretium varius, nulla velit lacinia sem, dignissim hendrerit erat nulla et metus. Quisque pretium metus arcu, ut elementum lectus pulvinar quis. Nam consequat nisl a tincidunt pretium. Mauris eget quam velit. Sed suscipit elementum convallis. Integer maximus, diam in porttitor sollicitudin, dolor leo mollis augue, sed sodales tellus mi non purus. Suspendisse nec blandit sapien. Aliquam dictum, dui sollicitudin tincidunt efficitur, tortor purus blandit magna, quis iaculis nulla diam vel mi. Nulla dui risus, cursus id vestibulum vitae, sodales id tellus. Nulla commodo ac mi gravida volutpat. Nunc convallis tempus cursus. Sed et lobortis massa. Suspendisse ut massa fringilla, posuere nibh eu, tincidunt diam. Donec consectetur hendrerit ante eu dapibus.</p>
                    

                   



                </div>




                <div class="hkb-feedback">
                    <h3 class="hkb-feedback__title">Təlimat sizin xoşunuza gəldimi?</h3>
                    <div class="ht-voting" id="ht-voting-post-94">


                        <div class="ht-voting-links ht-voting-">
                            <a class="ht-voting-upvote enabled" rel="nofollow" role="button" data-direction="up"
                                data-type="post" data-nonce="7f29bd596d" data-id="94" data-allow="1"
                                data-display="standard" href="#">
                                <i class="hkb-upvote-icon"></i>
                                <span>Yes</span>
                            </a>
                            <a class="ht-voting-downvote enabled" rel="nofollow" role="button" data-direction="down"
                                data-type="post" data-nonce="7f29bd596d" data-id="94" data-allow="1"
                                data-display="standard" href="#">
                                <i class="hkb-upvote-icon"></i>
                                <span>No</span>
                            </a>
                        </div>
                        <!-- no new vote -->

                    </div>
                </div>



                <div class="ht-mobile-exit"><strong class="ht-mobile-exit__title">Kömək lazımdır?</strong>
                    <div class="hkb_widget_exit__content">Əgər sistemlə bağlı sualınız və ya istifadəsi zamanı
                        çətinliklə üzləşmisinizsə, lütfən WhatsApp nömrəmizə yazaraq soruşun. </div><a
                        class="hkb_widget_exit__btn"
                        data-ht-kb-exit-href="?hkb-redirect&amp;nonce=b9de63e6f0&amp;check=6bpg8&amp;redirect=https%3A%2F%2Fwa.me%2F994518043484&amp;otype=ht_kb_article&amp;oid=94&amp;source=widget"
                        href="?hkb-redirect&amp;nonce=b9de63e6f0&amp;check=6bpg8&amp;redirect=https%3A%2F%2Fwa.me%2F994518043484&amp;otype=ht_kb_article&amp;oid=94&amp;source=widget"
                        target="_blank" rel="nofollow">+994 51 804 34 84</a>
                </div>
            </article>


        </div>



    </div>
</div>
{% endblock %}