<div class="panel panel-default">
    <div class="panel-body">
        <a href="{{path_for('qoshulmaq')}}">
        <i class="fa fa-3x fa-book panel-icon" style="margin-right: 10px;"></i>
            Maliyyə Monitorinqi Xidmətinin məlumat bazasına qoşulma qaydaları
        </a>
    </div>
</div>