<div class="latest-posts">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="latest-post">
                <a class="latest-post__thumbnail" href="blog-single.html"><img width="270" height="190"
                        src="assets/images/image-36-270x190.jpg"
                        class="attachment-latest-posts size-latest-posts wp-post-image" alt="MentalPress 21"></a>
                <div class="latest-post__categories">
                    <ul class="post-categories">
                        <li>
                            <a href="category/teenage/" rel="category tag">Teenage</a>
                        </li>
                    </ul>
                </div>
                <h4 class="latest-post__title">
                    <a href="blog-single.html">Looking for help is sign of strength</a>
                </h4>
                <p class="latest-post__excerpt">
                    Individual treatment is often termed as psychotherapy, and is meant to help people
                    with their emotional issues, which can …</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="latest-post">
                <a class="latest-post__thumbnail" href="blog-single.html"><img width="270" height="190"
                        src="assets/images/image-45-270x190.jpg"
                        class="attachment-latest-posts size-latest-posts wp-post-image" alt="MentalPress 13"></a>
                <div class="latest-post__categories">
                    <ul class="post-categories">
                        <li>
                            <a href="category/self-improvement/" rel="category tag">Self-improvement</a>
                        </li>
                        <li>
                            <a href="category/therapy/" rel="category tag">Therapy</a>
                        </li>
                    </ul>
                </div>
                <h4 class="latest-post__title">
                    <a href="blog-single.html">Get the most out of your work day</a>
                </h4>
                <p class="latest-post__excerpt">
                    There are many emotional issues that find a corner in our heart, and refuse to die
                    down. With time, these issues can transform …</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="latest-post">
                <a class="latest-post__thumbnail" href="blog-single.html"><img width="270" height="190"
                        src="assets/images/image-57-270x190.jpg"
                        class="attachment-latest-posts size-latest-posts wp-post-image" alt="MentalPress 1"></a>
                <div class="latest-post__categories">
                    <ul class="post-categories">
                        <li>
                            <a href="category/children-therapy/" rel="category tag">Children Therapy</a>
                        </li>
                    </ul>
                </div>
                <h4 class="latest-post__title">
                    <a href="blog-single.html">Help your child find new friends</a>
                </h4>
                <p class="latest-post__excerpt">
                    Anxiety is something that exists in everyone’s life to a certain extent, and in a
                    way it is medically known to be helpful …</p>
            </div>
        </div>
    </div>
</div>