<div class="panel panel-default">
    <div class="panel-body">
        <a  href="{{path_for('qebul')}}">
        <i class="fa fa-3x fa-calendar panel-icon" style="margin-right: 10px;"></i>
            Vətəndaşların qəbul qrafiki 
        </a>
    </div>
</div>