<div class="panel panel-default">
    <div class="panel-body">
        <a target="_blank" href="http://www.taxes.gov.az/modul.php?name=pages&amp;page=230">
        <i class="fa fa-3x fa-calendar panel-icon" style="margin-right: 10px;"></i>
            Vətəndaşların qəbul qrafiki 
        </a>
    </div>
</div>