<div class="widget  widget-about-us">
    <div id="carousel-people-pw_about_us-2" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="about.html" class="about-us__tag">MSEd, MA, LMHP, CPC</a><img class="about-us__image"
                    src="assets/images/image-51.jpg" alt="About us image">
                <h5 class="about-us__name">Jennifer Willinger, Ph.D</h5>
                <p class="about-us__description">I'm a New York based psychologist and I was born
                    and raised in New Jersey. I completed my Masters in Clinical Psychology from
                    Rutgers University, New Jersey in 1987, and have a diploma in Cognitive
                    Psychology and Neurosciences.</p>
                <a href="about.html" class="read-more  about-us__link">Read more</a>
            </div>
        </div>
    </div>
</div>