<div class="jumbotron  jumbotron--with-captions">
    <div class="carousel  slide  fade" id="headerCarousel" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://migration.gov.az/content/images/slider/5d8df2d7d228f_1569583831.jpg"
                    srcset="https://migration.gov.az/content/images/slider/5d8df2d7d228f_1569583831.jpg 425w, https://migration.gov.az/content/images/slider/5d8df2d7d228f_1569583831.jpg 850w"
                    sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                    alt="&quot;Be smart, help yourself now.&quot;">
                <div class="jumbotron-content">
                    <h1 class="jumbotron-content__title">Banklarının məsul şəxsləri və əməkdaşları üçün təlim keçirilmişdir</h1>
                    <div class="jumbotron-content__description">
                        <p>
                            <i>–</i>&nbsp; 21 avqust 2019-cu il</p>
                    </div>
                </div>
            </div>
             <div class="item">
                <img src="https://migration.gov.az/content/images/slider/5d97499b70f57_1570195867.jpg"
                    srcset="https://migration.gov.az/content/images/slider/5d97499b70f57_1570195867.jpg 425w, https://migration.gov.az/content/images/slider/5d97499b70f57_1570195867.jpg 850w"
                    sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                    alt="&quot;Mental illness is no myth.&quot;">
                <div class="jumbotron-content">
                    <h1 class="jumbotron-content__title">Nəzarət orqanlarının əməkdaşları üçün təlimlər keçirilmişdir</h1>
                    <div class="jumbotron-content__description">
                        <p>
                            <i>–</i>&nbsp; 31 iyul 2019</p>
                    </div>
                </div>
            </div> 
            {# <div class="item">
                <img src="assets/images/image-8-425x200.jpg"
                    srcset="assets/images/image-8-425x200.jpg 425w, assets/images/image-8-850x400.jpg 850w"
                    sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                    alt="&quot;Life is too short to wait&quot;">
                <div class="jumbotron-content">
                    <h1 class="jumbotron-content__title">"Life is too short to wait"</h1>
                    <div class="jumbotron-content__description">
                        <p>
                            <i>–</i>&nbsp;Unknown Girl</p>
                    </div>
                </div>
            </div> #}
        </div>
        <a class="left  jumbotron__control" href="#headerCarousel" role="button" data-slide="prev">
            <i class="fa  fa-chevron-left"></i>
        </a>
        <a class="right  jumbotron__control" href="#headerCarousel" role="button" data-slide="next">
            <i class="fa  fa-chevron-right"></i>
        </a>
    </div>
</div>