<div class="panel panel-default">
    <div class="panel-body">
        <a href="{{path_for('useful')}}">
        <i class="fa fa-3x fa-external-link panel-icon" style="margin-right: 10px;"></i>
            Faydalı linklər 
        </a>
    </div>
</div>