{% extends 'website/fullwidthlayout.twig' %}

{% block content %}
<div class="content-container">

    <div class="main-title">
        <h1 class="main-title__primary">Şöbələr və departamenlər üzrə</h1>
    </div>

    <article>

        <div class="panel-grid row m-b-0">

            <div class="col-md-12 panel-grid-cell" style="margin-bottom: 25px">

                <div class="textwidget table-responsive">
                    <table class="contact">
                        <tr>
                            <th colspan="4">Hüseynov Elvin İntiqam</th>
                        </tr>
                        <tr class="contact_head">
                            <td>Şöbə</td>
                            <td>Telefon</td>
                            <td>Daxili</td>
                            <td>E-mail</td>
                        </tr>
                        <tr>
                            <td>Məlumatların təhlili departamenti</td>
                            <td>(+994) 12 499 9999</td>
                            <td>1677</td>
                            <td>Huseynov.E@fiu.az</td>
                        </tr>
                    </table>

                    <table class="contact">
                            <tr>
                                <th colspan="4">Hesenov Hesen Hesen oğlu</th>
                            </tr>
                            <tr class="contact_head">
                                <td>Şöbə</td>
                                <td>Telefon</td>
                                <td>Daxili</td>
                                <td>E-mail</td>
                            </tr>
                            <tr>
                                <td>Korporativ xidmətlər departamenti</td>
                                <td>(+994) 12 499 9999</td>
                                <td>5566</td>
                                <td>Hesenov.H@fiu.az</td>
                            </tr>
                    </table>
                </div>

            </div>

        </div>

    </article>

</div>
{% endblock %}