{% extends 'website/layout.twig' %}

{% block content %}
<div class="content-container">

    <div class="main-title">
        <h1 class="main-title__primary">
            Əməkdaşlıq etməyən ölkələr
        </h1>
    </div>

    <article>
        <div class="panel-grid row">

            <div class="col-md-12 panel-grid-cell">
                <div class="so-panel panel-first-child panel-last-child">
                    <div class="textwidget text-intro">

                        <p style="
                        text-align: right;
                        display: block;
                        font-weight: bold;">
                            Azərbaycan Respublikasının<br>
                            Maliyyə Bazarlarına Nəzarət Palatasının<br>
                            31 nömrəli 13 iyul 2017-ci il tarixli Əmri ilə<br>
                            təsdiq edilmişdir
                        </p>

                        <div class="alert alert-danger">
                            Cinayət yolu ilə əldə edilmiş pul vəsaitlərinin və ya digər əmlakın leqallaşdırılmasında,
                            terrorçuluğun maliyyələşdirilməsində, transmilli mütəşəkkil cinayətkarlığı, habelə silahlı
                            separatizmi, ekstremizmi və muzdluluğu dəstəkləməsində, narkotik vasitələrin və ya psixotrop
                            maddələrin qanunsuz dövriyyəsində iştirakı ehtimal olunan, maliyyə əməliyyatlarının
                            aparılması zamanı eyniləşdirmə məlumatlarının açıqlanması tələb olunmayan dövlətlərin
                            (ərazilərin) siyahısı
                        </div>

                        <br>

                        <table class="table table-striped table-bordered table-hover table-responsive">
                            <tbody>
                                <tr>
                                    <td width="5%">1</td>
                                    <td width="45%">Ermənistan Respublikası</td>
                                    <td width="5%">9</td>
                                    <td width="45%">Qayana Kooperativ Respublikası</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Kot–d’İvuar Respublikası</td>
                                    <td>10</td>
                                    <td>Laos Xalq Demokratik Respublikası</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Beliz</td>
                                    <td>11</td>
                                    <td>Liberiya Respublikası</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Əfqanıstan İslam Respublikası</td>
                                    <td>12</td>
                                    <td>Myanma Birliyi</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>İran İslam Respublikası (FATF-ın 23
                                        iyun 2017-ci il tarixli İctimai
                                        Bəyanatına uyğun olaraq qeyrimüəyyən müddətə dayandırılır</td>
                                    <td>13</td>
                                    <td>Somali Respublikası</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>İraq Respublikası</td>
                                    <td>14</td>
                                    <td>Sudan Respublikası</td>

                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>Konqo Demokratik Respublikası</td>
                                    <td>15</td>
                                    <td>Tailand Krallığı</td>
                                </tr>

                                <tr>
                                    <td>8</td>
                                    <td>Koreya Xalq Demokratik
                                        Respublikası</td>
                                    <td>16</td>
                                    <td>Vyetnam Sosialist Respublikası</td>
                                </tr>
                            </tbody>
                        </table>


                        <p><strong>I. Birləşmiş Millətlər Təşkilatı (BMT) tərəfindən barələrində sanksiya, embarqo,
                                yaxud digər aidiyyəti tədbirin tətbiq olunduğu d&ouml;vlətlər (ərazilər): </strong></p>
                        <ol>
                            <li>Somali Respublikası (751 (1992) saylı, 24 aprel 1992-ci il tarixli Qətnamə);</li>
                            <li>İraq Respublikası (1518 (2003) saylı, 24 noyabr 2003-c&uuml; il tarixli Qətnamə);</li>
                            <li>Liberiya Respublikası (1521 (2003) saylı, 22 dekabr 2003-c&uuml; il tarixli Qətnamə);
                            </li>
                            <li>Konqo Demokratik Respublikası (1493 (2003) saylı, 28 iyul 2003-c&uuml; il tarixli
                                Qətnamə);</li>
                            <li>Kot&ndash;d&rsquo;İvuar Respublikası (1572 (2004) saylı, 15 noyabr 2004-c&uuml; il
                                tarixli Qətnamə);</li>
                            <li>Sudan Respublikası (1591 (2005) saylı, 29 mart 2005-ci il tarixli Qətnamə);</li>
                            <li>Koreya Xalq Demokratik Respublikası (1718 (2006) saylı, 14 oktyabr 2006-cı il tarixli
                                Qətnamə);</li>
                        </ol>
                        <p><strong>II. İqtisadi Əməkdaşlıq və İnkişaf Təşkilatının Pulların leqallaşdırılmasına və
                                terror&ccedil;uluğun maliyyələşdirilməsinə qarşı Maliyyə Tədbirləri &uuml;zrə
                                İş&ccedil;i Qrupu (FATF) və FATF tipli regional təşkilat tərəfindən barəsində ictimai
                                bəyanat verilmiş d&ouml;vlətlər (ərazilər): </strong></p>
                        <ol>
                            <li>Beliz;</li>
                            <li>İran İslam Respublikası (FATF-ın 23 iyun 2017-ci il tarixli İctimai Bəyanatına uyğun
                                olaraq İran İslam Respublikasına m&uuml;nasibətdə sanksiyalar qeyri-m&uuml;əyyən
                                m&uuml;ddətə dayandırılır);</li>
                            <li>Koreya Xalq Demokratik Respublikası;</li>
                            <li>Qayana Kooperativ Respublikası.</li>
                        </ol>
                        <p><strong>III. BMT və Avropa Şurası tərəfindən transmilli m&uuml;təşəkkil cinayətkarlığı,
                                habelə silahlı separatizmi, ekstremizmi və muzdluluğu dəstəkləməsi bəyan edilmiş
                                d&ouml;vlətlər (ərazilər): (BMT-nin sənədləri&minus;Qətnamə #822 (30 Aprel 1993-c&uuml;
                                il); Qətnamə #853 (29 iyul 1993-c&uuml; il); Qətnamə #874 (14 oktyabr 1993-c&uuml; il);
                                Qətnamə #884 (12 noyabr 1993-c&uuml; il) AŞPA-nin sənədləri&minus;Qətnamə #1416 (25
                                yanvar 2005-ci il); T&ouml;vsiyə #1690 (25 yanvar 2005-ci il)). </strong></p>
                        <p>1. Ermənistan Respublikası.</p>
                        <p><strong>IV. BMT&ndash;nin Narkotiklər və Cinayətkarlıqla M&uuml;barizə İdarəsi tərəfindən
                                narkotik vasitələrin və ya psixotrop maddələrin qanunsuz d&ouml;vriyyəsi riskinin
                                y&uuml;ksək olması bəyan edilmiş d&ouml;vlətlər (ərazilər): </strong></p>
                        <ol>
                            <li>Əfqanıstan İslam Respublikası;</li>
                            <li>Laos Xalq Demokratik Respublikası;</li>
                            <li>Tailand Krallığı;</li>
                            <li>Vyetnam Sosialist Respublikası;</li>
                            <li>Myanma Birliyi.</li>
                        </ol>

                    </div>
                </div>
            </div>

        </div>
    </article>
</div>



{% endblock %}

{% block sidebar %}
<div class="widget  widget-skype">
    <a class="skype-button" href="{{path_for('registry')}}">
        <i class="fa fa-globe"></i>
        <p class="skype-button__title">Elektron reyestr</p>
    </a>
</div>

{% include 'website/include/sidebarmenu.twig' %}
{% include 'website/widgets/qebul-qrafiki.twig' %}

{% include 'website/widgets/goaml.twig' %} 

{% include 'website/widgets/hotline.twig' %}
{% include 'website/widgets/usefullinks.twig' %}
{% endblock %}