{% extends 'website/layout.twig' %}

{% block content %} 
    {% include 'website/widgets/slider.twig' %}


                <div class="panel-grid row service-lines">
                    <div class="col-md-6 panel-grid-cell"> 
                        <div class="item">
                            <div class="services-block">
                                <a class="services-block-a services-block-a-bold" href="/static/15/budcenin-gelir-ve-xerc-hissesinin-yerine-yetirilmesinin-tehlili">
                                    <div class="services-block-header">
                                        <i class="fa  fa-3x  fa-users"></i>
                                    </div>
                                    <div class="services-block-name services-name-bg-bold">
                                        <span class="services-block-arrow"></span>
                                        <h2>Sanksiya tətbiq olunmalı şəxslər</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 panel-grid-cell">
                       <div class="item">
                            <div class="services-block">
                                <a class="services-block-a services-block-a-bold" href="{{path_for('emekdashliq')}}">
                                    <div class="services-block-header">
                                        <i class="fa  fa-3x  fa-globe"></i>
                                    </div>
                                    <div class="services-block-name services-name-bg-bold">
                                        <span class="services-block-arrow"></span>
                                        <h2>Əməkdaşlıq etməyən ölkələr</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 panel-grid-cell">
                        <div class="item">
                            <div class="services-block">
                                <a class="services-block-a services-block-a-bold" href="/static/15/budcenin-gelir-ve-xerc-hissesinin-yerine-yetirilmesinin-tehlili">
                                    <div class="services-block-header">
                                        <i class="fa  fa-3x  fa-graduation-cap"></i>
                                    </div>
                                    <div class="services-block-name services-name-bg-bold">
                                        <span class="services-block-arrow"></span>
                                        <h2>Elektron tədris</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 panel-grid-cell">
                        <div class="item">
                            <div class="services-block">
                                <a class="services-block-a services-block-a-bold" href="/static/15/budcenin-gelir-ve-xerc-hissesinin-yerine-yetirilmesinin-tehlili">
                                    <div class="services-block-header">
                                        <i class="fa  fa-3x  fa-cloud-upload"></i>
                                    </div>
                                    <div class="services-block-name services-name-bg-bold">
                                        <span class="services-block-arrow"></span>
                                        <h2>Məlumatların göndərilməsi</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


        <div class="content-container">

            <article>
                <div class="panel-grid row">
                    <div class="col-md-12 panel-grid-cell">
                        <div class="so-panel panel-first-child panel-last-child">
                            <h3 class="widget-title">Azərbaycan Respublikasının Maliyyə Monitorinqi Xidməti</h3>
                            <div class="textwidget text-intro">
                                <p>Maliyyə Monitorinqi Xidməti Azərbaycan Respublikası Prezidentinin 25 may 2018-ci il tarixli 95 nömrəli Fərmanı ilə yaradılmışdır. Hazırda, Maliyyə Monitorinqi Xidməti Azərbaycan Respublikasında cinayət yolu ilə əldə edilmiş pul vəsaitlərinin və ya digər əmlakın leqallaşdırılmasının və terrorçuluğun maliyyələşdirilməsinin qarşısını almaq sahəsində vahid tənzimləməni və nəzarəti həyata keçirən, fəaliyyəti əlaqələndirən və dövlət büdcəsindən maliyyələşən publik hüquqi şəxsdir.</p>
                                <p>Azərbaycan Respublikası Prezidentinin 18 iyul 2018-ci il tarixli 215 nömrəli «Azərbaycan Respublikası Maliyyə Monitorinqi Xidmətinin fəaliyyətinin təmin edilməsi haqqında» Fərmanına uyğun olaraq, Xidmətin Nizamnaməsi və strukturu təsdiq edilmişdir.</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel-grid row m-b-lg">
                <div class="col-md-12 panel-grid-cell">
                        <div class="so-panel panel-first-child panel-last-child">
                <h3 class="widget-title">Xəbərlər</h3>
                </div>
                </div>
                    <div class="col-md-6 m-b">
                        <div class="so-panel widget widget_pw_banner widget-banner panel-first-child panel-last-child"
                            id="panel-6-1-0-0">
                            <a class="banner" href="http://frequently-asked-questions" target="_self">
                                <div class="banner__title">Sanksiya tətbiq olunmalı şəxslərin siyahısı yenilənmişdir</div>
                                <div class="banner__content">21 avqust 2019-cu il</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 m-b">
                        <div class="so-panel widget widget_pw_banner widget-banner panel-first-child panel-last-child"
                            id="panel-6-1-1-0">
                            <a class="banner" href="http://shop" target="_self">
                                <div class="banner__title">Nəzarət orqanlarının əməkdaşları üçün təlimlər keçirilmişdir</div>
                                <div class="banner__content">31 iyul 2019</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 m-b">
                        <div class="so-panel widget widget_pw_banner widget-banner panel-first-child panel-last-child"
                            id="panel-6-1-0-0">
                            <a class="banner" href="http://frequently-asked-questions" target="_self">
                                <div class="banner__title">Banklarının məsul şəxsləri və əməkdaşları üçün təlim keçirilmişdir</div>
                                <div class="banner__content">29 iyul 2019</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 m-b">
                        <div class="so-panel widget widget_pw_banner widget-banner panel-first-child panel-last-child"
                            id="panel-6-1-1-0">
                            <a class="banner" href="http://shop" target="_self">
                                <div class="banner__title">Sanksiya tətbiq olunmalı şəxslərin siyahısı yenilənmişdir</div>
                                <div class="banner__content">10 iyun 2019-cu il</div>
                            </a>
                        </div>
                    </div>
                </div>

            </article>

        </div>

{% endblock %}
                
{% block sidebar %}

<div class="widget  widget-skype">
    <a class="skype-button" href="{{path_for('registry')}}"> 
        <i class="fa fa-globe"></i>
        <p class="skype-button__title">Elektron reyestr</p>
    </a>
</div>

{% include 'website/include/sidebarmenu.twig' %}
{% include 'website/widgets/qebul-qrafiki.twig' %}

{% include 'website/widgets/goaml.twig' %} 

{% include 'website/widgets/hotline.twig' %} 
{% include 'website/widgets/usefullinks.twig' %}


{% endblock %}
