{% extends 'website/layout.twig' %}

{% block content %}
<div class="content-container">

    <div class="main-title">
        <h1 class="main-title__primary">Rəhbərlik</h1>
    </div>

    <article>
        <div class="panel-grid row">

            <div class="col-md-12 panel-grid-cell">
                <div class="so-panel panel-first-child panel-last-child">
                    <div class="textwidget text-intro profile-overlay">

                        <div class="profile">

                            <div class="col-md-12">
                                <div class="profile-card" style="margin: 0 auto;justify-content: center;">
                                    <a href="http://agro.gov.az/az/nazirlik/rehberlik/inam-kerimov">
                                        <img src="https://www.thebusinessyear.com/Content/interviewee/4988_b.jpg"
                                            width="155px">
                                    </a>
                                    <ul class="profile-form">
                                        <li>İdarə Heyətinin Sədri</li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#largeShoes">Rövşən
                                                Nəcəf</a>
                                        </li>
                                        <li>+ 994 12 493 30 66</li>
                                        <li><a href="mailto:nazir@agro.gov.az">rovshan@fiu.az</a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="profile-card">
                                    <a href="http://agro.gov.az/az/nazirlik/rehberlik/ilham-guliyev">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Steven_Mnuchin_official_portrait_%28cropped%29.jpg/800px-Steven_Mnuchin_official_portrait_%28cropped%29.jpg"
                                            width="155px">
                                    </a>
                                    <ul class="profile-form">
                                        <li>Secretary Treasury</li>
                                        <li><a href="">Steven Mnuchin</a></li>
                                        <li>+994 12 498 98 24</li>
                                        <li><a href="mailto:web@agro.gov.az">Mnuchin@fiu.az</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="profile-card">
                                    <a href="#">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Betsy_DeVos_official_portrait_%28cropped%29.jpg/800px-Betsy_DeVos_official_portrait_%28cropped%29.jpg"
                                            width="155px">
                                    </a>
                                    <ul class="profile-form">
                                        <li>Secretary of Education</li>
                                        <li>
                                            <a href="#">Betsy DeVos</a>
                                        </li>
                                        <li>+ 994 12 498-01-65</li>
                                        <li><a href="mailto:web@agro.gov.az">Devos@fiu.az</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</div>



<!-- The modal -->
<div class="modal" id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelLarge">Rövşən Çingiz oğlu Nəcəf</h4>
            </div>

            <div class="modal-body">
                <div class="entry">
                    <p>Rövşən Nəcəf 1982-ci il aprelin 9-da Bakı şəhərində anadan olmuşdur.</p>
                    <p>1997-ci ildə Azərbaycan Dövlət İqtisad Universitetinin Beynəlxalq iqtisadi münasibətlər
                        fakültəsinə daxil olmuş, 2001-ci ildə bakalavr, 2003-cü ildə isə magistratura proqramını
                        fərqlənmə ilə bitirmişdir.</p>
                    <p>2007-2008-ci illərdə ARDNŞ-ın təqaüd proqramı çərçivəsində ABŞ-ın Kolumbiya Universitetində
                        təhsil alaraq İqtisadi Siyasətin İdarəedilməsi/Beynəlxalq Enerji Menecment və Siyasəti üzrə
                        magistr proqramını uğurla bitirmişdir</p>
                    <p>Əmək fəaliyyətinə 2001-ci ildə Azərbaycan Dövlət İqtisad Universitetinin Beynəlxalq iqtisadi
                        münasibətlər və marketinq kafedrasında laborant vəzifəsində başlamışdır.</p>
                    <p>2003-2007-ci illərdə Azərbaycan Respublikasının İqtisadi İnkişaf Nazirliyinin İnvestisiyalar və
                        Beynəlxalq İqtisadi Əməkdaşlıq departamentinin İnvestisiya Siyasəti şöbəsində məsləhətçi və baş
                        məsləhətçi vəzifəsində çalışmışdır.</p>
                    <p>2008-2009-cu illərdə ARDNŞ-nın Sərmayələr&nbsp; İdarəsinin Sərmayələr üzrə Kontraktlar şöbəsinin
                        rəisi vəzifəsində işləmişdir.</p>
                    <p>2009-2010-cu illərdə İqtisadi İnkişaf Nazirliyində Xarici İqtisadi Əlaqələr şöbəsinin müdiri və
                        İqtisadi İnkişaf Nazirinin köməkçisi&nbsp; olmuşdur.</p>
                    <p>2010-2012-ci illərdə&nbsp;&nbsp; “Azərbaycan İnvestisiya Şirkəti” ASC-nin icraçı direktorunun
                        müavini və icraçı direktoru vəzifələrində çalışmışdır.</p>
                    <p>Azərbaycan Respublikası Prezidentinin 2018-ci il 11 may tarixli Sərəncamı ilə&nbsp;Azərbaycan
                        Respublikası Prezidentinin Administrasiyasının İnnovativ inkişaf və elektron hökumət məsələləri
                        şöbəsinin müdiri təyin edilmişdir.</p>
                    <p>Azərbaycan Respublikası Prezidentinin 2019-cu il 28 avqust tarixli Sərəncamı ilə&nbsp;Azərbaycan
                        Respublikasının Maliyyə Monitorinqi Xidmətinin İdarə Heyətinin sədri təyin edilmişdir.</p>
                    <p>İqtisadiyyat üzrə fəlsəfə doktorudur.</p>
                    <p>3-cü dərəcəli dövlət müşaviridir.</p>
                    <p>Evlidir, 2 övladı var.</p>

                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}

{% block sidebar %}
<div class="widget  widget-skype">
    <a class="skype-button" href="{{path_for('registry')}}">
        <i class="fa fa-globe"></i>
        <p class="skype-button__title">Elektron reyestr</p>
    </a>
</div>

{% include 'website/include/sidebarmenu.twig' %}
{% include 'website/widgets/qebul-qrafiki.twig' %}

<div class="panel panel-default">
    <div class="panel-body">
        <a target="_blank" href="http://www.taxes.gov.az/modul.php?name=pages&amp;page=230">
            <i class="fa fa-3x fa-book panel-icon" style="margin-right: 10px;"></i>
            Maliyyə Monitorinqi Xidmətinin məlumat bazasına qoşulma qaydaları
        </a>
    </div>
</div>

{% include 'website/widgets/hotline.twig' %}
{% include 'website/widgets/usefullinks.twig' %}
{% endblock %}