<!-- .hkb-breadcrumbs -->
<div class="hkb-breadcrumbs_wrap">
    <ol class="hkb-breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="https://gundelik.edu.az/help">
                <span itemprop="name">Əsas</span>
                <svg class="hkb-breadcrumbs__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 34.1">
                    <g>
                        <path
                            d="M19,17c0,0.5-0.2,1-0.6,1.4L3.4,33.5c-0.8,0.8-2,0.8-2.8,0c-0.8-0.8-0.8-2,0-2.8L14.2,17L0.6,3.4c-0.8-0.8-0.8-2,0-2.8  c0.8-0.8,2-0.8,2.8,0l15.1,15.1C18.8,16,19,16.5,19,17z">
                        </path>
                    </g>
                </svg>
            </a>
            <meta itemprop="position" content="1">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="../../kat/teachers/index.html">
                <span itemprop="name">Fiziki şəxslər</span>
                <svg class="hkb-breadcrumbs__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 34.1">
                    <g>
                        <path
                            d="M19,17c0,0.5-0.2,1-0.6,1.4L3.4,33.5c-0.8,0.8-2,0.8-2.8,0c-0.8-0.8-0.8-2,0-2.8L14.2,17L0.6,3.4c-0.8-0.8-0.8-2,0-2.8  c0.8-0.8,2-0.8,2.8,0l15.1,15.1C18.8,16,19,16.5,19,17z">
                        </path>
                    </g>
                </svg>
            </a>
            <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <span>
                <span itemprop="name">Terrorçular</span>
                <link itemprop="item" href="index.html">
            </span>
            <meta itemprop="position" content="3">
        </li>
    </ol>
</div>
<!-- /.hkb-breadcrumbs -->