<header class="site-header__banner">
    <div class="ht-container">

        <div class="site-logo">
            <a href="{{path_for('registry')}}">
                <img src="{{base_url()}}/assets/registry/img/logo_registry.png" />
            </a>
        </div>

        <nav class="nav-header" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <button id="ht-navtoggle" class="nav-header__mtoggle"><span>Menu</span></button>
            <ul id="menu-knowall-navigation-menu" class="nav-header__menuwrapper">
                <li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-127">
                    <a  href="{{path_for('home')}}">Keçid 1</a>
                </li>
                <li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-127">
                    <a  href="{{path_for('home')}}">Keçid 2</a>
                </li>
            </ul>
        </nav>

    </div>
</header>