<div class="boxes animated fadeIn">
    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12 box">
            <a href="{{path_for('telimat')}}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="https://image.flaticon.com/icons/svg/254/254022.svg" alt="" width="60"
                            class="icon box-image">
                        <h4 class="text-center">İstifadəçi Təlimatı</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 box">
            <a href="/home/booklet">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="https://image.flaticon.com/icons/svg/230/230318.svg" alt="" width="60"
                            class="icon box-image">
                        <h4 class="text-center">Terminologiya</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 box">
            <a href="/home/duties">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="https://image.flaticon.com/icons/svg/230/230301.svg" alt="" width="60"
                            class="icon box-image">
                        <h4 class="text-center">Reyestrdən istifadə </h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="clearfix"></div>

    </div>
</div>