<aside class="sidebar" itemscope itemtype="https://schema.org/WPSideBar">
    <section id="ht-kb-exit-widget-4" class="widget hkb_widget_exit">
        <h3 class="widget__title">Kömək lazımdır?</h3>
        <div class="hkb_widget_exit__content">Əgər sistemlə bağlı sualınız və ya istifadəsi zamanı
            çətinliklə üzləşmisinizsə, lütfən WhatsApp nömrəmizə yazaraq soruşun. </div><a class="hkb_widget_exit__btn"
            data-ht-kb-exit-href="?hkb-redirect&nonce=b9de63e6f0&check=6bpg8&redirect=https%3A%2F%2Fwa.me%2F994518043484&otype=&oid=&source=widget"
            href="#" target="_blank" rel="nofollow">+994 51 804 34 84</a>
    </section>
</aside>